        ssl                  on;

        ssl_session_timeout  5m;

        ssl_protocols  SSLv2 SSLv3 TLSv1;
        ssl_ciphers RC4:HIGH:!aNULL:!MD5;
        ssl_prefer_server_ciphers   on;

      ssl_certificate      /etc/pki/tls/certs/STAR_{{DOMAIN}}.crt;
      ssl_certificate_key      /etc/pki/tls/private/STAR_{{DOMAIN}}.key;
