ssl                  on;

ssl_session_cache    shared:SSL:10m;
ssl_session_timeout  10m;

ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
ssl_ciphers {{ nginx_ssl_ciphers }}
ssl_prefer_server_ciphers   on;

ssl_certificate      {{ nginx_ssl_cert_path }}/{{ nginx_ssl_filename | default(nginx_server_name) }}.crt;
ssl_certificate_key  {{ nginx_ssl_key_path }}/{{ nginx_ssl_filename | default(nginx_server_name) }}.key;
